{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container g-md-0">

			<div class="row mx-auto">
			    <h2 class="fs-1 col-12 ms-2 mt-4 text-light">Les Rubriques :</h2>

				{% for rubrique in rubriques %}
                    <div class='col-4 mb-3'>
                        <div class="card text-bg-dark">
                                <img src="{{ asset ('images/rubriques-sousRubriques/' ~ rubrique.imageRubrique ) }}" class="card-img-top img-fluid imageRubrique" alt="{{ rubrique.nomRubrique }}">
                                <a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover" href="">
                                {# c'est cette div(en bas) qui sort de la card #}
                                <div class="card-img-overlay"> 
                                    <h5 class="card-title text-light">{{ rubrique.nomRubrique | upper }}</h5>
                                </div>
                            </a>
                        </div>
                    </div>
				{% endfor %}

                <h2 class="fs-1 col-12 ms-2 mt-4 text-light">Nos meilleurs ventes :</h2>


				{% for TopProduit in produitQuantite %}
				
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ TopProduit.produit.nomProduit }}</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                            </div>
                            <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                        </div>
                        </div>

                {% endfor %}

			</div>

	</div>

{% endblock %}
