{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container g-md-0">

		<div class="row mx-auto">
			<h2 class="fs-1 col-12 ms-2 mt-4 text-light text-center">Les Sous-Rubriques</h2>

			{% for sousRubrique in sousRubriques %}
				<div class='col-12 col-sm-6 col-md-4 mb-3'>
					<div class="card text-bg-dark">
						<img src="{{ asset ('images/rubriques-sousRubriques/' ~ sousRubrique.imageSousRubrique ) }}" class="card-img-top img-fluid imageRubrique" alt="{{ sousRubrique.nomSousRubrique }}">
						<a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path ('app_selectProduits' , {id: sousRubrique.id} ) }}">
							<div class="card-img-overlay">
								<h5 class="card-title text-light text-center bg-dark rounded-2">{{ sousRubrique.nomSousRubrique | upper }}</h5>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

